.root {
    -fx-background-color: linear-gradient(#DBDBDB, #FBFBFB);
/*    -fx-font-family: "Arial";*/
}
.button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: #3AA4B9;
    -fx-padding: 5px;
}
.button:hover {
    -fx-text-fill: #023D49;
    -fx-cursor: hand;
}
.button:disabled, .button:pressed {
    -fx-background-color: #CCCCCC;
    -fx-cursor: wait;
}
#errorLabel {
    -fx-text-fill: red;
}